<div class="container page contacts">
    <form class="form-search">
        <input id="contactSearch" type="text" ng-model="contactSearch" class="input-medium search-query" placeholder="search contacts"/>
    </form>
    <div class="list">
        <div class="contact selected-{{contact.selected}}" ng-repeat="(key,contact) in contacts" id="contact_{{key}}" ng-click="contactSelected(contact)">
            {{contact | contactLabel}}
        </div>
    </div>
    <form id="addContactForm" class="form-horizontal" ng-show="showAddContact">
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <input type="text" id="inputEmail" placeholder="Email" ng-model="email">
        </div>
        <button type="submit" class="btn btn-danger" ng-click="addContact()" id="addcontact">Add</button>
        <button type="submit" class="btn" ng-click="showAddContact=false" id="addcontactcancel">Cancel</button>
    </form>
    <form id="inviteContactForm" class="form-horizontal" ng-show="showInviteContact">
        <div class="control-group">
            <label class="control-label">Invite this new contact to Intimate</label>
        </div>
        <button type="submit" class="btn btn-danger" ng-click="inviteContact()" id="invitecontact">Invite</button>
        <button type="submit" class="btn" ng-click="showInviteContact=false" id="invitecontactcancel">Cancel</button>
    </form>
    <!--button type="submit" class="btn btn-danger" id="contactSelection" ng-click="contactSelection()">Select</button-->
    <button type="submit" class="btn btn-danger" id="interact" ng-click="showAddContact=!showAddContact" ng-hide="showInviteContact || showAddContact">
        <span ng-show="! showAddContact">+</span>
        <span ng-show="showAddContact">-</span>
    </button>
</div>