<div class="container page">
    <form class="form-horizontal">
        <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <input type="text" id="inputEmail" placeholder="Email" >
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <input type="password" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-danger" id="user-login" ng-click="navigate('kokoons')">Login</button>
    </form>
</div>